/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on the winogradsky server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ClavelLab/pocpbenchmark -profile winogradsky,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Winogradsky server profile'
    config_profile_description = 'Winogradsky server profile with existing datasets and adequate resources values'

    // Limit resources
    max_cpus   = 64
    max_memory = '450.GB'
    max_time   = '360.h'

    // Input options
    gtdb_proteins_dir             = "/DATA/gtdb/protein_faa_reps/bacteria/"
    gtdb_metadata_tsv             = "/DATA/gtdb/bac120_metadata_r207.tsv"
    valid_names_tsv               = "https://raw.githubusercontent.com/thh32/Protologger/master/DSMZ-latest.tab"
}
